<div class="text-center text-lg-start" style="background-color: #727D73; padding-top: 50px; padding-bottom: 20px;">
    <!-- Grid container -->
    <div class="container d-flex justify-content-center pt-1">
        <!-- Section: Social media -->
        <section class="mb-4">
        <!-- Facebook -->
        <a
            class="btn btn-lg bg-primary btn-floating mx-2"
            style="background-color: #123524;"
            href="#!"
            role="button">
            <i class="bi bi-facebook"></i>
        </a>

        <!-- Twitter -->
        <a
            class="btn btn-lg bg-primary mx-2"
            style="background-color: #123524;"
            href="#!"
            role="button">
            <i class="bi bi-twitter"></i>
        </a>

        <!-- Instagram -->
        <a
            class="btn btn-lg bg-primary btn-floating mx-2"
            style="background-color: #123524;"
            href="#!"
            role="button">
            <i class="bi bi-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a
            class="btn btn-lg bg-primary btn-floating mx-2 my-10"
            style="background-color: #123524;"
            href="#!"
            role="button">
            <i class="bi bi-linkedin"></i>
        </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-white mt-auto p-3">
        <p class="mb-0">© 2024 Copyright: busCompany.com</p>
    </div>
    <!-- Copyright -->
</div>
  