<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("partials/head.ejs") %>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <div class="jumbotron text-center">
      <h1>Bus Services</h1> 
      <p>We specialize in blablabla</p> 
      <form class="form-inline" id="searchBuses" action="/trip" method="get">
        <div class="form-group form-group-lg">
            <input id="departure" name="departure" type="text" class="form-control" size="50" placeholder="Departure" required>
        </div>
        <div class="form-group">
            <span class="lead"><strong>TO</strong></span>
        </div>
        <div class="form-group form-group-lg">
            <input id="destination" name="destination" type="text" class="form-control" size="50" placeholder="Destination" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg">Search</button>
        </div>
      </form>
      <p style="font-size: small;">**Try search from "Wollongong Central" to "Shellharbour Junction"</p>
    </div>

    <h2>What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
          </div>
          <div class="item">
            <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
          </div>
          <div class="item">
            <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>

  </body>
</html>